body {
  font-family: Arial, sans-serif;
  background: #1b1d21;
  color: #fff;
  margin: 0;
  padding: 2rem;
}
h1 {
  color: #e7ba34;
}
p {
  color: #aac7ff;
}

.center-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 180px; /* Or whatever width you want */
}
